<!-- web/templates/auth/password_reset_request.html -->
{% extends 'base.html' %}

{% block title %}Password Reset{% endblock %}

{% block content %}
<section class="usa-section">
    <h2 class="usa-heading">Password Reset</h2>
    <form method="POST" class="usa-form">
        <label for="email" class="usa-label">Email:</label>
        <input type="email" name="email" class="usa-input" required>
        <button type="submit" class="usa-button">Reset Password</button>
    </form>
</section>
{% endblock %}
