<!-- web/templates/auth/reset_password.html -->
{% extends 'base.html' %}

{% block title %}Reset Your Password{% endblock %}

{% block content %}
<section class="usa-section">
    <h2 class="usa-heading">Reset Your Password</h2>
    <form method="POST" class="usa-form">
        <label for="password" class="usa-label">New Password:</label>
        <input type="password" name="password" class="usa-input" required>
        <button type="submit" class="usa-button">Update Password</button>
    </form>
</section>
{% endblock %}
