<!-- web/templates/footer.html -->
<footer class="usa-footer usa-footer--medium" role="contentinfo">
    <div class="usa-footer__secondary-section">
        <div class="usa-grid-full">
            <div class="usa-footer__secondary-content text-center footer-legal">
                <p>This is not an official government website.</p>
                <ul>
                <li><a href="https://github.com/HenselForCongress/CandidateGPT/issues/new/choose" target=_blank class="usa-nav__link">Report a 🐛</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="usa-footer__primary-section">
        <div class="usa-grid-full">
            <div class="usa-footer__primary-content text-center">
            <br>
                <div class="footer-callout">
                    PAID FOR BY HENSEL FOR CONGRESS
                </div>
                <div class="footer-links">
                <br>
                    <a href="https://henselforcongress.com/terms/" target=_blank >Terms & Conditions</a> |
                    <a href="https://henselforcongress.com/privacy/" target=_blank >Privacy Policy</a> |
                    <a href="https://henselforcongress.com/contact/" target=_blank >Contact Us</a> |
                    <a href="https://github.com/HenselForCongress/CandidateGPT/blob/main/LICENSE" target=_blank >License</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 Hensel for Congress | All rights reserved.</p>
        <br>
    </div>
</footer>
