<!-- web/templates/header.html -->
<header class="usa-header usa-header--basic usa-header-basic" role="banner">
    <div class="usa-navbar">
        <div class="usa-logo" id="logo">
            <em class="usa-logo__text">
                <a href="/" title="Home" aria-label="Home">CandidateGPT</a>
            </em>
        </div>
        <nav role="navigation" aria-label="Primary navigation">
            <ul class="usa-nav__primary usa-accordion">
                <li><a href="/" class="usa-nav__link">Home</a></li>
                <li><a href="/about" class="usa-nav__link">About</a></li>
                <li><a href="#" class="usa-nav__link">Link 1</a></li>
                <li><a href="#" class="usa-nav__link">Link 2</a></li>
            </ul>
        </nav>
    </div>
</header>
