<!-- web/templates/potus.html -->
{% extends 'base.html' %}

{% block title %}PotusGPT{% endblock %}

{% block content %}
<section class="usa-section">
    <h2 class="usa-heading">About PotusGPT</h2>
    <p>Get ready for a groundbreaking way to engage in political discourse! Launching on October 29th, just ahead of Election Day, PotusGPT allows you to interact directly with virtual representations of the presidential candidates. This platform brings the debate to your fingertips, providing an accessible way to explore their positions and policies.</p>

    <h3>What to Expect</h3>
    <p>PotusGPT is designed to democratize access to political information, empowering voters to make more informed decisions. By providing a space where candidate views can be explored interactively, we aim to enrich the public discourse leading up to Election Day.</p>
    <p>With PotusGPT, you'll be able to:</p>
    <ul>
        <li>Ask questions and receive instant responses that reflect each candidate's stance.</li>
        <li>Access audio responses crafted to simulate the candidates' natural speaking styles.</li>
        <li>Engage with the platform from anywhere, at any time—no need to wait for live debates.</li>
    </ul>



    <h3>Please Note</h3>
    <p>Remember, PotusGPT is a simulated experience drawing on publicly available data. While it strives to reflect candidates' stated positions, the AI offers informational insights and should not be seen as a substitute for direct statements from the candidates themselves.</p>

    <h3>Stay Updated</h3>
    <p>We invite you to explore the platform starting October 29th and experience firsthand what the future of political engagement holds. Stay tuned for more updates as we approach the launch!</p>
</section>
{% endblock %}
